@model IEnumerable<Msl.Models.BranceSetting>

@{
    ViewData["Title"] = "Brance";
}

<h1>Index</h1>

<p>
    <a asp-action="Create"> <i class="fa-solid fa-plus"></i> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IpAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IpAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BranceId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.BranceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
